@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/typography";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import 'vars';
@import 'base';


@mixin animate($parameter: all, $duration: .25s ) {
	transition: $parameter $duration;
	-moz-transition: $parameter $duration;
	-webkit-transition: $parameter $duration;
	-o-transition: $parameter $duration;
}

.animate {
	@include animate();
}

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  // Set your base font here, to apply evenly
   font-family: 'Lato', sans-serif;
}

hr {
	margin: 0 0 $pad;
	background: black;
	@include box-shadow(0 1px #fff);
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
}

.page {
//	padding-bottom: 5em;
//	padding-top: 75px;
	.container {
		border-bottom: solid thin #ccc;
		border-top: solid thin #fff;
		height: 100%;
		position: relative;
	}
	
	&:first-of-type .container{
		border-top: none;
	}
	
	&:last-of-type .container {
		margin-bottom: 0;
		border-bottom: none;
	}
}



.module {
	overflow: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

.container {
	margin: 0 auto;
	position: relative;
	padding-top: $pad*3;
	max-width: 960px;
	
	@extend .clearfix;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

h2, h3 {
	font-weight: 300;
	margin: 0 0 .5em;
	
	@include adjust-font-size-to($base-font-size*4);
	
	text-shadow: 0 1px #fff;
}



ul {
	list-style-image: url(../img/fleur.png);
}

.primary-color {
	color: $primary;
}

header {
	background: white;
//	background: transparent;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	
	[title*='logo-anchor'] {
		position: relative;
		display: block;
		width: 100%;
		text-align: center;
	
		#logo {	
			display: block;
			width: 70px;
			height: 67px;
			background-image: url(../img/logo.png);
			background-color: #666666;
			text-indent: -9999em;
			text-align: center;
			margin: 0 auto;
			margin-top: -11px;
			@include animate(background-color, 1s);
			
			&:hover {
				background-color: $primary;
			}
		}
	
	}

}

#main {
	z-index: 1;
	position: relative;
	
	.slide-show {
			img {
				height: 100%;
				max-height: 300px;
			}
	}
}

#container {
	background-image: url(../img/brushed_alu.png);
}


nav {
	@media screen and (max-width: 480px) {
		display: none;
	}
	
	ul {
		@extend .clearfix;
						
		li {
			position: relative;
			float: left;
			padding: 0;
			width: 20%;
			margin-top: 1em;
			text-align: center;
			
			&:last-of-type {
				border-width: 0 1px;
			}
			
			
			a {
				@include animate();
				
				position: relative;
				text-decoration: none;
				font-weight: 300;
				display: inline-block;
				
				@include adjust-font-size-to($base-font-size*2.5);
				
				
				.underline {
					position: absolute;
					display: block;
					width: 0px;
					height: 100%;
					left: 0;
					top: 0;
					border-bottom: none;
					border-bottom: solid thin black;
					@include animate();
				}
				
				&:hover {
					.underline {
						width: 100%;
						
					}
				}
			}
			
			&.current {
				a {
					color: black;
				}
			
				.underline {
					width: 100%;
				}
				
				a #logo {
					background-color: $primary !important;
				}
			}
			
			ul.sub-menu {
				position: absolute;
				left: -999em;				
				
				li {
					display: block;
					white-space: nowrap;
					a {
						
					}
				}	
			}
			
			&:hover {
				
				ul.sub-menu {
					left: 0;
				}
			}
			
			&.current-menu-item {
			}
			
		}
	
	}
}

.select-menu {
	@media screen and (min-width: 480px) {
	}
	
	margin-top: 50px;
}


#Welcome, #Portfolio, #Process, #About, #Contact {
//	background-image: url(../img/angle.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
}

#Welcome {
	
//	background: url(../img/white_room_2.jpg);
	
	.thumbnail-gallery {
		list-style: none;
		
		.thumbnail-image {
		
		}
	}
	
	.module {
//		padding: $pad;
	}
	
	h2 {
		margin: 0;
		font-weight: 100;
		font-size: 233.5px;
		line-height: 275px;
		text-shadow: 0 2px #fff;
	}
	
	h3 {
		font-weight: 100;
		@include adjust-font-size-to(64px);
	}
	
	h4 {
		display: none;
		visibility: hidden;
	}
	
	h5 {
		@include adjust-font-size-to($base-font-size*1.5);
		font-style: normal;
		margin: .25em 0;
		font-weight: 300;
		
		a {
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	blockquote {
		margin: 0;
	}
	
	#qod-quote {
		
		@extend h3;
		
		font-weight: 300;
				
		@include adjust-font-size-to($base-font-size*2.2);
		
		.qod-text {
			margin: 0;
		}
		
		.qod-author {
			margin: .5em 0 0;
			
			a {
				font-family: $secondary-font, serif;
				font-style: italic;
				@include adjust-font-size-to($base-font-size*.8);
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			
			}
		}
		
	}
}


#Portfolio {

		#portfolio-pagination-controls {
			text-align: center;
			@include clearfix();
			
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				float: right;
				
				li {
					list-style: none;
					margin: 0;
					width: 20px;
					height: 20px;
					background: #6e6e6e;
					@include border-radius(10px);
					border-top: solid thin #333;
					border-bottom: solid thin #fff;
					text-align: center;
					display: block;
					float: left;
					margin-right: 5px;
					position: relative;
					
					
					a {
						background: inherit;
						display: block;
						text-decoration: none;
						text-indent: -999em;
						overflow: hidden;
						width: 12px;
						height: 12px;
						position: absolute;
						top: 50%;
						left: 50%;
						margin-left: -6px;
						margin-top: -6px;
						@include border-radius(6px);
					}
					&.current a {
						background: #333;
					}
				}
			}
		}
//		.controls {
//			position: absolute;
//			width: 100%;
//			height: 100%;
//			top: 0;
//			
//			.pagenation {
//				position: absolute;
//				right: 0;
//				bottom: -30px;
//				display: block;
//			}
//			
//			.previous, .next {
//				position: absolute;
//				left: -80px;
//				top: 50%;
//				
//				@media screen and (max-width: 480px) {
//					display: none;
//				}
//				
//				a  {
//					span {
//						width: 60px;
//						height: 60px;
//						display: block;
//						background-image: url(../img/prev_next.png);
//						background-repeat: no-repeat;
//						text-indent: -9999em;
//						opacity: .5;
//					}
//					&:hover span {
//						opacity: 1;
//					}
//				}	
//			
//			}
//			.next {
//				left: auto;
//				right: -80px;
//				
//				a span {
//					background-position: right top;
//				}
//			}
//		}

	.portfolio-thumbnails {
		list-style: none;
		padding-left: 0;
		position: relative;
		padding: $pad 0 $pad $pad;
//		border: solid thin gray;
//		border-bottom: solid thin #fff;
//		border-right: solid thin #fff;
//		background: rgba(black, 0.1);
		
		.portfolio-thumbnail {
			list-style: none;
			
			.module {
				position: relative;
				overflow: hidden;
				background: white;
//				border: solid thin white;
//				border-bottom: solid thin gray;
//				border-right: solid thin gray;
				background: rgba(0, 0, 0, .15);
				
				a {
					display: block;
					position: relative;
					overflow: hidden;
					height: 500px;
					
					img {
						height: 500px;
						margin: 0 auto;
						
					}
				
				
				
					.thumbnail-details {
						background: black;
						background: rgba(0,0,0,.65);
						position: absolute;
						top: 0;
						width: 100%;
						height: 100%;
						opacity: 0;
						padding: $pad;
						
						@include box-shadow(0 0 5px rgba(0,0,0,.75));
						
						
						ul {
							list-style: none;
							margin: 0;
							padding: 0;
							
							li {
								color: white;
								font-family: "futura-pt-condensed", sans-serif;
								font-style: normal;
								font-weight: 700;
								padding-bottom: $pad/3;
								
								@include adjust-font-size-to($base-font-size*1.5);
							
							}
						}
					}
				}
			}
		}
	}
}

#Process {
	
	.col-1-3:last-of-type {
		h4::after {
			display: none;
		}
	}				
			
	h4 {
		display: block;
		width: 200px;
		background: #666666;
		position: relative;
		border-top: solid thin #ccc;
		border-bottom: solid thin white;
		
		@include animate(all, .5s);
		
		@include adjust-font-size-to($base-font-size*1.5);
						
		&:hover {
			color: white;
		}
		
		&:after {
			display: block;
			content: '';
			width: 33px;
			height: 31px;
			background: url(../img/process_arrow.png) no-repeat;
			position: absolute;
			right: -70px;
			top: 50%;
			margin-top: -16px;
			
			@media screen and (max-width: 480px) {
				display: none;
			}
		}
		
		span {
			position: absolute;
			top: 40%;
			width: 100%;
			text-align: center;
			margin-top: -.5em;
			color: #fff;
			font-family: $secondary-font, serif;
			@include adjust-font-size-to($base-font-size*1.6);
			font-style: italic;
			font-weight: 900;
			font-smooth: always;
			letter-spacing: .03em;		
			
		}
		
		&:hover {
			background: $primary;
			color: black;
			cursor: pointer;
		}
	}
}

#About {
	h4 {
		display: none;
		visibility: hidden;
	}
	
	.linkedin-experience, .linkedin-education {
		h2, h3 {
			@include adjust-font-size-to($base-font-size*1.2);
			font-weight: 300;
		}
		
		.position {
			margin-bottom: $pad;
		}
		
		.organization-details {
			display: none;
		}
	}
	
}

#Contact {
	h4 {
		display: none;
		visibility: hidden;
	}
	
	ul.social-media-links {
		list-style: none;
		margin: 0;
		padding: 0;
		
		@include clearfix();
		
		li.social-media-link {
			list-style: none;
			padding-right: $pad;
			float: left;
			margin: 0;
			
			a {
				display: block;
				text-indent: -999em;
				float: left;
				color: #999;
				text-decoration: none;
				
				
				&:hover {
					color: #666;
				}
				
				&:after {
					font-family: 'socialicoregular', sans-serif;
					text-indent: 0;
					float: left;
					text-shadow: 0 1px #fff;
					
					@include adjust-font-size-to(80px);
				}
				
				&#twitter:after {
					content: "l";
				}
				
				&#behance:after {
					content: "e";
				}
				
				&#linkedin:after {
					content: "i";
				}
			}
		}
	}
}

#loader {
	background: black;
	background: rgba(0, 0, 0, .85);
	position: fixed;
	z-index: 3;
	top: 0;
	color: #fff;
	width: 100%;
	height: 100%;
	display: none;
	overflow: auto;
	padding-top: 60px;
	
	#close {
		display: block;
		background: url(../img/close.png) no-repeat 0 50%;
		text-indent: -9999em;
		width: 50px;
		height: 50px;
		border: none;
		position: fixed;
		top: 25px;
		right: 25px;
		
		&:hover {
			background-position: -52px 50%;
		}
	}
	
	.max-width {
		max-width: 720px;
		margin: 0 auto;
		background: black;
		background: rgba(0,0,0,.5);
	}
	
	.module {
		padding: $pad;
	}
	
	img {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		display: block;
		margin-bottom: 2em;		
	}
	
	a {
		color: $secondary;
		
		&:hover {
			color: $primary;
		}
	}
}

#spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	bottom: 50%;
	right: 50%;
	width: 32px;
	height: 32px;
	display: block;
	background: url(../img/ajax-loader.gif) no-repeat;
}

footer {}
