// This file must be imported before loading html5-boilerplate

// base
$base-font-family: unquote("sans-serif");
$base-font-size: 13px;
$base-line-height: 1.5;
$font-color: #222;

// Links
$link-color: #666666;
$link-visited-color: #666666;
$link-hover-color: #000;

// Lists
$list-left-margin: 40px;