@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
/* line 17, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, #Welcome #qod-quote, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 81.25%;
}

/* line 64, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 13px;
  line-height: 1.84615em;
}

/* line 19, ../sass/_base.scss */
.grid {
  margin: 0 0 26px 0;
  zoom: 1;
}
/* line 5, ../sass/_base.scss */
.grid:before, .grid:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 12, ../sass/_base.scss */
.grid:after {
  clear: both;
}

/* line 24, ../sass/_base.scss */
[class*='col-'] {
  width: 100%;
}

/* Opt-in outside padding */
/* line 30, ../sass/_base.scss */
.grid-pad {
  padding: 26px 0 26px 26px;
}
/* line 32, ../sass/_base.scss */
.grid-pad [class*='col-']:last-of-type {
  padding-right: 26px;
}

/* Grid styles */
/* line 38, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* line 43, ../sass/_base.scss */
header, #main, footer {
  width: 100%;
}

/* line 47, ../sass/_base.scss */
.container {
  position: relative;
  margin: 0 auto 0;
  width: 100%;
}

/* line 53, ../sass/_base.scss */
.module {
  overflow: hidden;
  position: relative;
}

/* line 58, ../sass/_base.scss */
[class*='col-'] {
  float: left;
  width: 100%;
}

@media screen and (max-width: 480px) {
  /* line 64, ../sass/_base.scss */
  [class*='col-'] {
    margin-bottom: 26px;
  }
}
@media screen and (min-width: 360px) {
  /* line 104, ../sass/_base.scss */
  .mobile-half {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 720px) {
  /* line 112, ../sass/_base.scss */
  [class*='col-'] {
    float: left;
    padding-right: 26px;
  }
  /* line 115, ../sass/_base.scss */
  .grid [class*='col-']:last-of-type {
    padding-right: 0;
  }

  /* line 120, ../sass/_base.scss */
  .mobile-half {
    width: auto;
    float: none;
  }

  /* line 124, ../sass/_base.scss */
  .col-1-2 {
    width: 50%;
  }

  /* line 129, ../sass/_base.scss */
  .col-1-3 {
    width: 33.33333%;
  }

  /* line 133, ../sass/_base.scss */
  .col-2-3 {
    width: 66.66667%;
  }

  /* line 137, ../sass/_base.scss */
  .col-1-4 {
    width: 25%;
  }

  /* line 141, ../sass/_base.scss */
  .col-3-4 {
    width: 75%;
  }

  /* line 145, ../sass/_base.scss */
  .col-1-6 {
    width: 16.66667%;
  }

  /* line 149, ../sass/_base.scss */
  .col-5-6 {
    width: 83.33333%;
  }

  /* line 153, ../sass/_base.scss */
  .col-1-8 {
    width: 12.5%;
  }

  /* line 157, ../sass/_base.scss */
  .col-3-8 {
    width: 37.5%;
  }

  /* line 161, ../sass/_base.scss */
  .col-5-8 {
    width: 62.5%;
  }

  /* line 165, ../sass/_base.scss */
  .col-7-8 {
    width: 87.5%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 171, ../sass/_base.scss */
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  /* line 177, ../sass/_base.scss */
  .container {
    max-width: 1280px;
  }
}
/* line 18, ../sass/screen.scss */
.animate {
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
}

/* line 22, ../sass/screen.scss */
a {
  color: #666666;
}

/* line 30, ../sass/screen.scss */
body, select, input, textarea {
  font-family: 'Lato', sans-serif;
}

/* line 35, ../sass/screen.scss */
hr {
  margin: 0 0 26px;
  background: black;
  -webkit-box-shadow: 0 1px white;
  -moz-box-shadow: 0 1px white;
  box-shadow: 0 1px white;
}

/* line 51, ../sass/screen.scss */
.page .container {
  border-bottom: solid thin #ccc;
  border-top: solid thin #fff;
  height: 100%;
  position: relative;
}
/* line 58, ../sass/screen.scss */
.page:first-of-type .container {
  border-top: none;
}
/* line 62, ../sass/screen.scss */
.page:last-of-type .container {
  margin-bottom: 0;
  border-bottom: none;
}

/* line 70, ../sass/screen.scss */
.module {
  overflow: hidden;
}

/* line 74, ../sass/screen.scss */
.overflow-hidden {
  overflow: hidden;
}

/* line 78, ../sass/screen.scss */
.container {
  margin: 0 auto;
  position: relative;
  padding-top: 78px;
}

/* line 87, ../sass/screen.scss */
h1, h2, h3, #Welcome #qod-quote, h4, h5 {
  font-weight: normal;
}

/* line 91, ../sass/screen.scss */
h2, h3, #Welcome #qod-quote {
  font-weight: 300;
  margin: 0 0 .5em;
  font-size: 4em;
  line-height: 1.38462em;
  text-shadow: 0 1px #fff;
}

/* line 102, ../sass/screen.scss */
ul {
  list-style-image: url(../img/fleur.png);
}

/* line 106, ../sass/screen.scss */
.primary-color {
  color: #8b0f04;
}

/* line 110, ../sass/screen.scss */
header {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
/* line 118, ../sass/screen.scss */
header [title*='logo-anchor'] {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}
/* line 124, ../sass/screen.scss */
header [title*='logo-anchor'] #logo {
  display: block;
  width: 70px;
  height: 67px;
  background-image: url(../img/logo.png);
  background-color: #666666;
  text-indent: -9999em;
  text-align: center;
  margin: 0 auto;
  margin-top: -11px;
  transition: background-color 1s;
  -moz-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
}
/* line 136, ../sass/screen.scss */
header [title*='logo-anchor'] #logo:hover {
  background-color: #8b0f04;
}

/* line 145, ../sass/screen.scss */
#main {
  z-index: 1;
  position: relative;
}
/* line 150, ../sass/screen.scss */
#main .slide-show img {
  height: 100%;
  max-height: 300px;
}

/* line 157, ../sass/screen.scss */
#container {
  background-image: url(../img/brushed_alu.png);
}

@media screen and (max-width: 480px) {
  /* line 162, ../sass/screen.scss */
  nav {
    display: none;
  }
}
/* line 167, ../sass/screen.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 173, ../sass/screen.scss */
nav ul li {
  list-style: none;
  position: relative;
  float: left;
  padding: 0;
  width: 20%;
  margin-top: 1em;
  text-align: center;
}
/* line 182, ../sass/screen.scss */
nav ul li:last-of-type {
  border-width: 0 1px;
}
/* line 187, ../sass/screen.scss */
nav ul li a {
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  position: relative;
  text-decoration: none;
  font-weight: 300;
  display: inline-block;
  font-size: 2.5em;
  line-height: 1.47692em;
}
/* line 198, ../sass/screen.scss */
nav ul li a .underline {
  position: absolute;
  display: block;
  width: 0px;
  height: 100%;
  left: 0;
  top: 0;
  border-bottom: none;
  border-bottom: solid thin black;
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
}
/* line 211, ../sass/screen.scss */
nav ul li a:hover .underline {
  width: 100%;
}
/* line 219, ../sass/screen.scss */
nav ul li.current a {
  color: black;
}
/* line 223, ../sass/screen.scss */
nav ul li.current .underline {
  width: 100%;
}
/* line 227, ../sass/screen.scss */
nav ul li.current a #logo {
  background-color: #8b0f04 !important;
}
/* line 232, ../sass/screen.scss */
nav ul li ul.sub-menu {
  position: absolute;
  left: -999em;
}
/* line 236, ../sass/screen.scss */
nav ul li ul.sub-menu li {
  display: block;
  white-space: nowrap;
}
/* line 247, ../sass/screen.scss */
nav ul li:hover ul.sub-menu {
  left: 0;
}

/* line 260, ../sass/screen.scss */
.select-menu {
  margin-top: 50px;
}

/* line 268, ../sass/screen.scss */
#Welcome, #Portfolio, #Process, #About, #Contact {
  background-repeat: no-repeat;
  background-position: 50% 0;
}

/* line 278, ../sass/screen.scss */
#Welcome .thumbnail-gallery {
  list-style: none;
}
/* line 290, ../sass/screen.scss */
#Welcome h2 {
  margin: 0;
  font-weight: 100;
  font-size: 233.5px;
  line-height: 275px;
  text-shadow: 0 2px #fff;
}
/* line 298, ../sass/screen.scss */
#Welcome h3, #Welcome #qod-quote {
  font-weight: 100;
  font-size: 4.92308em;
  line-height: 1.125em;
}
/* line 303, ../sass/screen.scss */
#Welcome h4 {
  display: none;
  visibility: hidden;
}
/* line 308, ../sass/screen.scss */
#Welcome h5 {
  font-size: 1.5em;
  line-height: 1.23077em;
  font-style: normal;
  margin: .25em 0;
  font-weight: 300;
}
/* line 314, ../sass/screen.scss */
#Welcome h5 a {
  text-decoration: none;
}
/* line 317, ../sass/screen.scss */
#Welcome h5 a:hover {
  text-decoration: underline;
}
/* line 323, ../sass/screen.scss */
#Welcome blockquote {
  margin: 0;
}
/* line 327, ../sass/screen.scss */
#Welcome #qod-quote {
  font-weight: 300;
  font-size: 2.2em;
  line-height: 1.67832em;
}
/* line 335, ../sass/screen.scss */
#Welcome #qod-quote .qod-text {
  margin: 0;
}
/* line 339, ../sass/screen.scss */
#Welcome #qod-quote .qod-author {
  margin: .5em 0 0;
}
/* line 342, ../sass/screen.scss */
#Welcome #qod-quote .qod-author a {
  font-family: "kepler-std-semicondensed-dis", serif;
  font-style: italic;
  font-size: 0.8em;
  line-height: 2.30769em;
  text-decoration: none;
}
/* line 348, ../sass/screen.scss */
#Welcome #qod-quote .qod-author a:hover {
  text-decoration: underline;
}

/* line 361, ../sass/screen.scss */
#Portfolio #portfolio-pagination-controls {
  text-align: center;
  zoom: 1;
}
/* line 5, ../sass/_base.scss */
#Portfolio #portfolio-pagination-controls:before, #Portfolio #portfolio-pagination-controls:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 12, ../sass/_base.scss */
#Portfolio #portfolio-pagination-controls:after {
  clear: both;
}
/* line 365, ../sass/screen.scss */
#Portfolio #portfolio-pagination-controls ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
/* line 371, ../sass/screen.scss */
#Portfolio #portfolio-pagination-controls ul li {
  list-style: none;
  margin: 0;
  width: 20px;
  height: 20px;
  background: #6e6e6e;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border-top: solid thin #333;
  border-bottom: solid thin #fff;
  text-align: center;
  display: block;
  float: left;
  margin-right: 5px;
  position: relative;
}
/* line 387, ../sass/screen.scss */
#Portfolio #portfolio-pagination-controls ul li a {
  background: inherit;
  display: block;
  text-decoration: none;
  text-indent: -999em;
  overflow: hidden;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  margin-top: -6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 402, ../sass/screen.scss */
#Portfolio #portfolio-pagination-controls ul li.current a {
  background: #333;
}
/* line 408, ../sass/screen.scss */
#Portfolio .controls {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 414, ../sass/screen.scss */
#Portfolio .controls .pagenation {
  position: absolute;
  right: 0;
  bottom: -30px;
  display: block;
}
/* line 421, ../sass/screen.scss */
#Portfolio .controls .previous, #Portfolio .controls .next {
  position: absolute;
  left: -80px;
  top: 50%;
}
@media screen and (max-width: 480px) {
  /* line 421, ../sass/screen.scss */
  #Portfolio .controls .previous, #Portfolio .controls .next {
    display: none;
  }
}
/* line 431, ../sass/screen.scss */
#Portfolio .controls .previous a span, #Portfolio .controls .next a span {
  width: 60px;
  height: 60px;
  display: block;
  background-image: url(../img/prev_next.png);
  background-repeat: no-repeat;
  text-indent: -9999em;
  opacity: .5;
}
/* line 440, ../sass/screen.scss */
#Portfolio .controls .previous a:hover span, #Portfolio .controls .next a:hover span {
  opacity: 1;
}
/* line 446, ../sass/screen.scss */
#Portfolio .controls .next {
  left: auto;
  right: -80px;
}
/* line 450, ../sass/screen.scss */
#Portfolio .controls .next a span {
  background-position: right top;
}
/* line 456, ../sass/screen.scss */
#Portfolio .portfolio-thumbnails {
  list-style: none;
  padding-left: 0;
  position: relative;
  padding: 26px 0 26px 26px;
}
/* line 466, ../sass/screen.scss */
#Portfolio .portfolio-thumbnails .portfolio-thumbnail {
  list-style: none;
}
/* line 469, ../sass/screen.scss */
#Portfolio .portfolio-thumbnails .portfolio-thumbnail .module {
  position: relative;
  overflow: hidden;
  background: white;
  background: rgba(0, 0, 0, 0.15);
}
/* line 478, ../sass/screen.scss */
#Portfolio .portfolio-thumbnails .portfolio-thumbnail .module a {
  display: block;
  position: relative;
  overflow: hidden;
  height: 500px;
}
/* line 484, ../sass/screen.scss */
#Portfolio .portfolio-thumbnails .portfolio-thumbnail .module a img {
  height: 500px;
  margin: 0 auto;
}
/* line 492, ../sass/screen.scss */
#Portfolio .portfolio-thumbnails .portfolio-thumbnail .module a .thumbnail-details {
  background: black;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 26px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
/* line 505, ../sass/screen.scss */
#Portfolio .portfolio-thumbnails .portfolio-thumbnail .module a .thumbnail-details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 510, ../sass/screen.scss */
#Portfolio .portfolio-thumbnails .portfolio-thumbnail .module a .thumbnail-details ul li {
  color: white;
  font-family: "futura-pt-condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 8.66667px;
  font-size: 1.5em;
  line-height: 1.23077em;
}

/* line 531, ../sass/screen.scss */
#Process .col-1-3:last-of-type h4::after {
  display: none;
}
/* line 536, ../sass/screen.scss */
#Process h4 {
  display: block;
  width: 200px;
  background: #666666;
  position: relative;
  border-top: solid thin #ccc;
  border-bottom: solid thin white;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  font-size: 1.5em;
  line-height: 1.23077em;
}
/* line 548, ../sass/screen.scss */
#Process h4:hover {
  color: white;
}
/* line 552, ../sass/screen.scss */
#Process h4:after {
  display: block;
  content: '';
  width: 33px;
  height: 31px;
  background: url(../img/process_arrow.png) no-repeat;
  position: absolute;
  right: -70px;
  top: 50%;
  margin-top: -16px;
}
@media screen and (max-width: 480px) {
  /* line 552, ../sass/screen.scss */
  #Process h4:after {
    display: none;
  }
}
/* line 568, ../sass/screen.scss */
#Process h4 span {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  margin-top: -.5em;
  color: #fff;
  font-family: "kepler-std-semicondensed-dis", serif;
  font-size: 1.6em;
  line-height: 2.30769em;
  font-style: italic;
  font-weight: 900;
  font-smooth: always;
  letter-spacing: .03em;
}
/* line 584, ../sass/screen.scss */
#Process h4:hover {
  background: #8b0f04;
  color: black;
  cursor: pointer;
}

/* line 593, ../sass/screen.scss */
#About h4 {
  display: none;
  visibility: hidden;
}
/* line 599, ../sass/screen.scss */
#About .linkedin-experience h2, #About .linkedin-experience h3, #About .linkedin-experience #Welcome #qod-quote, #Welcome #About .linkedin-experience #qod-quote, #About .linkedin-education h2, #About .linkedin-education h3, #About .linkedin-education #Welcome #qod-quote, #Welcome #About .linkedin-education #qod-quote {
  font-size: 1.2em;
  line-height: 1.53846em;
  font-weight: 300;
}
/* line 604, ../sass/screen.scss */
#About .linkedin-experience .position, #About .linkedin-education .position {
  margin-bottom: 26px;
}
/* line 608, ../sass/screen.scss */
#About .linkedin-experience .organization-details, #About .linkedin-education .organization-details {
  display: none;
}

/* line 616, ../sass/screen.scss */
#Contact h4 {
  display: none;
  visibility: hidden;
}
/* line 621, ../sass/screen.scss */
#Contact ul.social-media-links {
  list-style: none;
  margin: 0;
  padding: 0;
  zoom: 1;
}
/* line 5, ../sass/_base.scss */
#Contact ul.social-media-links:before, #Contact ul.social-media-links:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 12, ../sass/_base.scss */
#Contact ul.social-media-links:after {
  clear: both;
}
/* line 628, ../sass/screen.scss */
#Contact ul.social-media-links li.social-media-link {
  list-style: none;
  padding-right: 26px;
  float: left;
  margin: 0;
}
/* line 634, ../sass/screen.scss */
#Contact ul.social-media-links li.social-media-link a {
  display: block;
  text-indent: -999em;
  float: left;
  color: #999;
  text-decoration: none;
}
/* line 642, ../sass/screen.scss */
#Contact ul.social-media-links li.social-media-link a:hover {
  color: #666;
}
/* line 646, ../sass/screen.scss */
#Contact ul.social-media-links li.social-media-link a:after {
  font-family: 'socialicoregular', sans-serif;
  text-indent: 0;
  float: left;
  text-shadow: 0 1px #fff;
  font-size: 6.15385em;
  line-height: 1.2em;
}
/* line 655, ../sass/screen.scss */
#Contact ul.social-media-links li.social-media-link a#twitter:after {
  content: "l";
}
/* line 659, ../sass/screen.scss */
#Contact ul.social-media-links li.social-media-link a#behance:after {
  content: "e";
}
/* line 663, ../sass/screen.scss */
#Contact ul.social-media-links li.social-media-link a#linkedin:after {
  content: "i";
}

/* line 671, ../sass/screen.scss */
#loader {
  background: black;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 3;
  top: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;
  padding-top: 60px;
}
/* line 684, ../sass/screen.scss */
#loader #close {
  display: block;
  background: url(../img/close.png) no-repeat 0 50%;
  text-indent: -9999em;
  width: 50px;
  height: 50px;
  border: none;
  position: fixed;
  top: 25px;
  right: 25px;
}
/* line 695, ../sass/screen.scss */
#loader #close:hover {
  background-position: -52px 50%;
}
/* line 700, ../sass/screen.scss */
#loader .max-width {
  max-width: 720px;
  margin: 0 auto;
  background: black;
  background: rgba(0, 0, 0, 0.5);
}
/* line 707, ../sass/screen.scss */
#loader .module {
  padding: 26px;
}
/* line 711, ../sass/screen.scss */
#loader img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  margin-bottom: 2em;
}
/* line 719, ../sass/screen.scss */
#loader a {
  color: #666666;
}
/* line 722, ../sass/screen.scss */
#loader a:hover {
  color: #8b0f04;
}

/* line 728, ../sass/screen.scss */
#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  width: 32px;
  height: 32px;
  display: block;
  background: url(../img/ajax-loader.gif) no-repeat;
}
